<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 		xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">


	<util:map id="dbProperty">
			<entry key="db.mysql.driver" value="com.mysql.jdbc.Driver"/>
			<entry key="db.mysql.jdbcurl" value="jdbc:mysql://localhost:3306/Security"/>
			<entry key="db.mysql.username" value="mysql_client"/>
			<entry key="db.mysql.password" value="mysql_client"/>
	</util:map>
	
	<bean id="mySqlDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.mysql.driver}"/>
		<property name="url" value="${db.mysql.jdbcurl}"/>
		<property name="username" value="${db.mysql.username}"/>
		<property name="password" value="${db.mysql.password}"/>	
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="dbProperty"/>
	</bean>
	
	<context:component-scan base-package="encryption_util.rfc2898derivebytes"/>
</beans>
